<!--Navbar-->
<div>
  <nav class="navbar navbar-default navigation-clean">
    <div class="container">
      <div class="navbar-header"><a class="navbar-brand" href="#">Bosgeest Top 60</a><button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div>
      <div
        class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav navbar-right"></ul>
      </div>
    </div>
  </nav>
</div>
<!--Navbar-->

<!--SearchBar-->
<app-search></app-search>
<!--SearchBar-->
