<div class="col-md-4">
  <h2>Mijn Top 10</h2>


  <div class="list-group">
    <div class="list-group-item" *ngFor="let track of tracks; let i = index">
      <strong class="list-group-item-heading">{{i + 1}}. {{track.title}}</strong><br>
      <small class="list-group-item-text">{{track.artist}}</small>
      <div>
        <span class="glyphicon glyphicon-triangle-top" aria-hidden="true" (click)="trackListService.moveUp(track)"></span>
        <span class="glyphicon glyphicon-remove" aria-hidden="true" (click)="trackListService.remove(track)"></span>
        <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true" (click)="trackListService.moveDown(track)"></span>
      </div>
    </div>
  </div>

  <div class="pull-right">
    <button type="button" class="btn btn-primary" (click)="submit()">Verzenden</button>
  </div>

</div>
