<div class="col-md-3">
  <h2>Mijn Top 10</h2>

  <div class="list-group">
    <div class="list-group-item track" [class.track-frozen]="trackListService.isFrozen()" *ngFor="let track of trackListService.tracks; let i = index">
      <strong class="list-group-item-heading">{{i + 1}}. {{track.title}}</strong><br>
      <small class="list-group-item-text">{{track.artist}}</small>
      <div>
        <span class="glyphicon glyphicon-triangle-top" aria-hidden="true" (click)="trackListService.moveUp(track)"></span>
        <span class="glyphicon glyphicon-remove" aria-hidden="true" (click)="trackListService.remove(track)"></span>
        <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true" (click)="trackListService.moveDown(track)"></span>
      </div>
    </div>
  </div>

  <div class="pull-right">
    <button type="button" class="btn btn-primary"
            *ngIf="trackListService.tracks.length === 10"
            (click)="trackListService.submit()" [disabled]="trackListService.isFrozen()">Verzenden</button>
  </div>

</div>
